---
layout: default
title: Travel the world with our wonderful guides
featured-image: /assets/images/shop_ebook_1.jpg
description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolorem animi, unde harum aut ratione earum tempora praesentium? Explicabo delectus corrupti quisquam nulla earum perferendis doloremque nam, repudiandae consequatur qui.
sneakpeak-image-1: /assets/images/shop_ebook_1.jpg
sneakpeak-title-1: All the best places to stay
sneakpeak-description-1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut optio officiis fugit neque ipsum deleniti perferendis, assumenda dolores alias sed doloribus temporibus dicta! Nesciunt at ex fugiat aperiam. Iusto, illum.
sale: true
---

<!--------------- Intro sales pitch --------------->

{% include intro-section.html %}

<!--------------- Most popular products (9 items) --------------->


<section class="container px-10 mx-auto my-20" id="products_overview"> 
  <h2 class="text-center mb-12">Our most popular presets</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 container">

  {% assign ebooks = site.products_ebook %}
  {% assign featuredEbooks = ebooks | where:'featured','true' %}
  {% for item in featuredEbooks limit:6 %}

  {% include product-preview.html %}

  {% endfor %}
  </div>
  <div class="flex justify-center pt-20">
    <a href="{{item.url}}" class="button">See more presets</a>
  </div>
</section>

<hr>

<!--------------- Sneak peak carousel --------------->

{% include ebook-sneakpeak.html %}

<!--------------- Testimonials --------------->

{% assign testimonials = site.data.testimonials | where:'product-type','ebook' %}
<section class="bg-beige p-6">

    {% include testimonials.html %}

</section>

<!--------------- FAQs --------------->

<section class="bg-medium-beige p-6">
  {% assign faqs = site.data.faqs | where:'product-type','ebook' %}
  {% include faqs.html %}
  </section>