---
layout: default
title: Presets
featured-image: https://images.unsplash.com/photo-1668953009809-140e120356cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80
video-id: UK23kO7cMeo
---

<!--------------- Intro sales pitch --------------->

<section class="grid grid-cols-2 p-6 gap-3">
  <div class="">
    <img src="{{page.featured-image}}" class="h-[50vh] w-full object-cover">
  </div>
  <div>
    <h2>{{page.title}}</h2>
    <span>Buy me</span>
  </div>
</div>
</section>

<!--------------- Most popular products (9 items) --------------->

<section class="grid grid-cols-3 p-6 gap-5">

  {% assign presets = site.products_preset %}
  {% assign featuredPresets = presets | where:'featured','true' %}
  {% for item in featuredPresets limit:9 %}
  
  <div class="py-4">
    <a href="{{item.url}}"><img class="container mx-auto aspect-[3/4] object-cover mb-5" src="{{item.product-image}}"></a>
  
    <a href="{{item.url}}" class="inline-block text-2xl featured-text my-4">{{item.title}}</a>
    <span class="block">Buy me</span>
  </div>
  
  {% endfor %}
  </section>


<!--------------- Image slider Before/After --------------->

<section class="grid grid-cols-6 p-6">
  <div class="col-span-1">
    <span>Sunshine Preset</span>
  </div>
  <div class="col-span-5">
    <img src="{{page.featured-image}}" class="h-[50vh] w-full object-cover">
  </div>
</section>


<!--------------- Video section --------------->

<h2>How to use our presets</h2>

{% include video.html %}


<!--------------- Testimonials --------------->

{% assign testimonials = site.data.testimonials | where:'product-type','preset' %}
{% include testimonials.html %}

<!--------------- FAQs --------------->

{% assign faqs = site.data.faqs | where:'product-type','preset' %}
{% include faqs.html %}