---
layout: default
title: Presets
featured-image: /assets/images/shop_preset_2.jpg
description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolorem animi, unde harum aut ratione earum tempora praesentium? Explicabo delectus corrupti quisquam nulla earum perferendis doloremque nam, repudiandae consequatur qui.
video-id: UK23kO7cMeo
sale: false
---

<!--------------- Intro sales pitch --------------->

{% include intro-section.html %}

<!--------------- Most popular products (9 items) --------------->

<section class="container px-10 mx-auto my-20" id="products_overview"> 
  <h2 class="text-center mb-12">Our most popular presets</h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 container">

  {% assign presets = site.products_preset %}
  {% assign featuredPresets = presets | where:'featured','true' %}
  {% for item in featuredPresets limit:6 %}

  {% include product-preview.html %}

  {% endfor %}
  </div>
  <div class="flex justify-center pt-20">
    <a href="{{item.url}}" class="button">See more presets</a>
  </div>
</section>

<!--------------- Testimonials --------------->

<section class="bg-beige p-6">
  {% assign testimonials = site.data.testimonials | where:'product-type','preset' %}
  {% include testimonials.html %}
  </section>

<!--------------- Image slider Before/After --------------->

<section class="grid grid-cols-1 lg:grid-cols-6 gap-3 container my-20 ">
  
  <div class="col-span-6 text-center pb-14">
    <h2>Preview our presets</h2>
  </div>
  <div class="col-span-6 lg:col-span-1 lg:space-x-0 lg:block ">
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
  </div>
  <div class="col-span-6 lg:col-span-5">
    <img src="{{page.featured-image}}" class="h-[40vh] lg:h-[60vh] w-full object-cover">
  </div>
</section>

<!--------------- FAQs --------------->

<section class="bg-medium-beige p-6">
{% assign faqs = site.data.faqs | where:'product-type','preset' %}
{% include faqs.html %}
</section>

<!--------------- Video section --------------->

<section class="my-10 p-6 text-center container mx-auto">

  <h2>How to use our presets</h2>

  {% include video.html %}

</section>