---
layout: default
title: Presets
featured-image: /assets/images/shop_preset_2.jpg
description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolorem animi, unde harum aut ratione earum tempora praesentium? Explicabo delectus corrupti quisquam nulla earum perferendis doloremque nam, repudiandae consequatur qui.
video-id: UK23kO7cMeo
---

<!--------------- Intro sales pitch --------------->

<section class="bg-beige py-20">
  <div class="grid grid-cols-2 gap-3 container mx-auto items-center">
    
    <div class="">
      <img src="{{page.featured-image}}" class="border p-6 bg-white w-full object-cover h-[80vh]">
    </div>

    <div class="p-10">
      <h1 class="mb-5">{{page.title}}</h1>
      <p class="mb-10">{{page.description}}</p>
    </div>

  </div>
</section>

<!--------------- Most popular products (9 items) --------------->

<section class="container px-10 mx-auto my-20"> 
  <h2 class="text-center mb-12">Our most popular e-books</h2>
  <div class="grid grid-cols-3 gap-10">

  {% assign presets = site.products_preset %}
  {% assign featuredPresets = presets | where:'featured','true' %}
  {% for item in featuredPresets limit:9 %}
  
  {% include product-preview.html %}
  
  {% endfor %}
  </div>
  <div class="flex justify-center pt-10">
    <a href="{{item.url}}" class="button">See more presets</a>
  </div>
</section>

<!--------------- Image slider Before/After --------------->

<hr>
<section class="grid grid-cols-6 container mx-auto my-20 ">
  
  <div class="col-span-6 text-center pb-10">
    <h2>This is a preview</h2>
  </div>
  <div class="col-span-1">
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
    <span class="border-b pb-1 mb-4 inline-block hover:text-medium-beige cursor-pointer">Sunshine Preset</span>
  </div>
  <div class="col-span-5">
    <img src="{{page.featured-image}}" class="h-[60vh] w-full object-cover">
  </div>
</section>
<hr>


<!--------------- Video section --------------->

<section class="my-10 p-6 text-center container mx-auto">

  <h2>How to use our presets</h2>

  {% include video.html %}

</section>


<!--------------- Testimonials --------------->

<section class="bg-beige p-6">
{% assign testimonials = site.data.testimonials | where:'product-type','preset' %}
{% include testimonials.html %}
</section>

<!--------------- FAQs --------------->

<section class="bg-medium-beige p-6">
{% assign faqs = site.data.faqs | where:'product-type','preset' %}
{% include faqs.html %}
</section>