@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
} 


@layer components {
    .button {
      @apply inline-block py-4 px-6 hover:bg-dark-beige bg-medium-beige text-white text-[0.8rem] uppercase tracking-[.2em];
    }
    .nav {
        @apply text-[0.8rem] hover:border-b pb-2 uppercase tracking-[.2em];
      }
  }

@layer utilities {
  .list-dashed {
    @apply m-0 list-none;
  }
}  


.list-dashed > li {
  text-indent: -5px;
}

.list-dashed > li:before {
  content: "-";
  @apply pr-2;
}

@font-face {
    font-family: "Ginger";
    src: url("/assets/fonts/Ginger.ttf");
  }


h1, h2 {
    font-family: "Ginger", serif;
    font-size: 3rem;
    line-height: 3.4rem;
}  

/* ------------ FAQs Accordion ------------ */

.expandable {
  overflow: hidden;
  max-height: 20rem; 
  transition: 1s;
}

.hide-answer { 
  max-height: 0;
  transition: 0.5s;
  margin-bottom: 0rem;
}

.expandButton .symbol::before {
  content: '\002B';
  margin-right: 0.5rem;
}
.expandButton.active .symbol::before {
  content: '\2212';
  margin-right: 0.5rem;
}

/* ------------ Slick Slider ------------ */

.slick-dots {
  right:0;
  bottom: -3rem;
}

.slick-next::before, .slick-prev::before {
  font-family: Mons;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  color: rgb(90, 90, 90);
}

.slick-prev::before {
  content: '←';
}

.slick-next::before {
  content: '→';
}

.slick-prev {
  left: -4rem;
  z-index: 6;
}

.slick-next {
  right: -4rem;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* ------------ Before & After Slider ------------ */

.ba-container {
  @apply aspect-[5/3] w-full relative mx-auto;
}

.ba-img {
  @apply absolute top-0 left-0 w-full h-full bg-cover;
  background-size: 90vw 100%;
}

.ba-background-img {
  background-image: url('/assets/images/slider_before.png');
}

.ba-foreground-img {
  background-image: url('/assets/images/slider_after.png');
  width: 50%;
}

.ba-slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(197, 197, 197, 0);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.ba-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: auto;
  background: white;
  cursor: pointer;
}
.ba-slider::-moz-range-thumb {
  width: 6px;
  height: 100%;
  background: rgba(107, 107, 107,0);
  cursor: pointer;
}
.ba-slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ba-slider-button:after {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.ba-slider-button:before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

/* ------------ Mobile menu ------------ */

.mobile-menu-hidden {
  left: 100vh;
  right: -100vh;
}

.burger.active {
  color: white;
}