@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
} 


@layer components {
    .button {
      @apply inline-block py-4 px-6 bg-dark-beige hover:bg-medium-beige text-white text-[0.8rem] uppercase tracking-[.2em];
    }
    .nav {
        @apply text-[0.8rem] hover:border-b pb-2 uppercase tracking-[.2em];
      }
  }

@layer utilities {
  .list-dashed {
    @apply m-0 list-none;
  }
}  

.list-dashed > li {
  text-indent: -5px;
}

.list-dashed > li:before {
  content: "-";
  @apply pr-2;
}

@font-face {
    font-family: "Ginger";
    src: url("/assets/fonts/Ginger.ttf");
  }


h1, h2 {
    font-family: "Ginger", serif;
    font-size: 3rem;
    line-height: 3.4rem;
}  

/* ------------ FAQs Accordion ------------ */

.expandable {
  overflow: hidden;
  max-height: 20rem; 
  transition: 1s;
}

.hide-answer { 
  max-height: 0;
  transition: 0.5s;
  margin-bottom: 0rem;
}

.expandButton .symbol::before {
  content: '↘';
  margin-right: 0.5rem;
}
.expandButton.active .symbol::before {
  content: '↖';
  margin-right: 0.5rem;
}

/* Slider */

.slick-dots {
  right:0;
  bottom: -3rem;
}

.slick-next::before, .slick-prev::before {
  font-family: Mons;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  color: rgb(90, 90, 90);
}

.slick-prev::before {
  content: '←';
}

.slick-next::before {
  content: '→';
}

.slick-prev {
  left: -4rem;
  z-index: 6;
}

.slick-next {
  right: -4rem;
}