<!------------------ FAQs ------------------>

<div class="p-10 container mx-auto">
  
  <h2 class="text-center mb-10">Any questions?</h2>
  
  {% for item in faqs %}
  
    <div class="expandButton cursor-pointer my-5" data-target-button="{{item.data}}">
      <h3><strong><span class="symbol"></span>          {{item.question}}</strong></h3>
    </div>
    <div class="expandable hide-answer"  data-target-more="{{item.data}}">
      <p class="mb-5">{{item.answer}}</p>
    </div>
    <hr class="">
  
  {% endfor %}
</div>
