<!------------------ Site-Footer ------------------>

<footer class="bg-graphit pt-20 text-white px-6">
  <div class="container mx-auto grid md:grid-cols-2">
    <div>
      <!------------------ Left column ------------------>
      <div class="text-4xl">Elsewhere.</div>
      <p class="text-xs my-10 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit ad nam molestias tempore ipsum culpa fugit, enim, saepe vel ipsa, earum nisi? Quisquam ab ipsam totam nam quasi vero.</p>
      <div class="flex flex-row space-x-7">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter">Twitter</i>
        </a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook-f">Facebook</i>
        </a>
        <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest-p">Pinterest</i>
        </a>
      </div>
    </div>

    <!------------------ Right column ------------------>
    <div class="mt-6 md:mt-0 md:text-right"> 
    </div>
  </div>

  <!------------------ Copyright ------------------>
  <section class="flex flex-col md:flex-row space-x-5 justify-center border-t border-t-neutral-500 container mx-auto text-xs font-light uppercase mt-20 text-center tracking-[.2em] p-5">
      <a href="">Copyright</a>
      <a href="">Terms & Conditions</a>
      <a href="">Privacy</a>
  </section>
</footer>