<!------------------ Site-Header ------------------>

<header class="p-6 my-10">
  <div class="flex items-center justify-center space-x-20">
    <div class="">
      <a href="/about.html" class="nav">About</a>
    </div>
    <div class="">
      <a href="/ebooks.html" class="nav">Ebooks</a>
    </div>
    <div class="text-6xl font-display" class="hover:border-b pb-2">
      <a href="/shop.html">Maleta</a>
    </div>
    <div class="">
      <a href="/presets.html" class="nav">Presets</a>
    </div>
    <div class="">
      <a href="/contact.html" class="nav">Contact</a>
    </div>
  </div>
</header>